.audioWrapper{
    display:table;
    height:100%;
}
.audioWrapper button{
    padding:10px;
    background:transparent;
    color: #1C2C35;
    border: none;
    margin:-10% 20% 0% 20%;
    font-size:50px;
    
    
}

@media only screen and (max-width: 400px) {
    .audioWrapper button {
     
        margin: -20% 15% 0% 15%;
    }
}