.btn {

    position: absolute;
    margin: 0px 49%;
    top: 20%;
    cursor: pointer;

}

.resetBtn{
    margin: 0px 96%;
}


@media only screen and (max-width: 1200px) {
     .resetBtn{
    margin: 0px 94%;
}
   
}

@media only screen and (max-width: 1000px) {
    .btn {
        margin: 0px 48%;
    }
    .resetBtn{
    margin: 0px 93%;
}
}

@media only screen and (max-width: 700px) {
    .btn {
        margin: 0px 47%;
    }
    .resetBtn{
    margin: 0px 92%;
}
}

@media only screen and (max-width:600px) {
     .resetBtn{
    margin: 0px 90%;
}
   
}
@media only screen and (max-width:500px) {
     .resetBtn{
    margin: 0px 88%;
}
   
}
@media only screen and (max-width: 400px) {
    .btn {
        margin: 0px 46%;
        top: 5%;
    }
    .resetBtn{
    margin: 0px 84%;
}
}

.btn-form {

    background-color: #C9D8D5;
    border-radius: 30px;
    /*            border-color: #d3cfcf;*/
    /*            box-shadow: inset 0 0 3px #d3cfcf;*/
    border-width: 0.5px;
    text-align: center;
    color: black;
    cursor: pointer;

}

.btn-auto {
    width: 30%;
    margin-left: 5px;
    height: 50px;
    font-weight: bolder;
}

.btn-form:hover {
    background-color: #aebfbb;
    color: black;

}

.btn-media {
    width: 70%;
    margin: 10px;
    height: 50px;
    font-weight: bolder;

}

.btn-addPin {
    margin-top: 10px;
    height:50px;
    font-weight: bolder;
    background-color: #FF7964;
    width: 70%;

}

.btn-addPin:hover {
    background-color: #cc604f;
}

.btn-addPin:focus {
    border-color: #FF7964;
    box-shadow: inset 0 1px 1px #FF7964, 0 0 8px rgba(255, 0, 0, 0.6);
}

.btn-close{

    font-weight: bolder;
    text-align: center;
    height:40px;
}

